<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.macie_000.neewstweak" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Newstweek"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainIcons"
            android:label="NewsTweek" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".TabNews"/>
        <activity android:name=".NewsList"/>
        <activity android:name=".DescNews"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
